<section>
  <nav>
    <ul></ul>
  </nav>

  <h1>Quantum Applications Conference</h1>

  <h2>Details</h2>

  <b>When:</b> November 6-7, 2023
  <br>
  <b>Where:</b> <a href="https://www.marriott.com/en-us/hotels/clece-courtyard-cleveland-university-circle/overview/?scid=f2ae0541-1279-4f24-b197-a979c79310b0">Courtyard by Mariott</a> next to Case Western Reserve University
  <br><br>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d357.6453339438518!2d-81.60535264696671!3d41.50797190893409!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8830fb899834b8d1%3A0xd79d3884acb4b374!2sCourtyard%20by%20Marriott%20Cleveland%20University%20Circle!5e0!3m2!1sen!2sus!4v1696612956580!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

  <h2>Housing</h2>

  Rooms will be available in Courtyard at a discounted promo rate.
</section>

